{% extends "outpost/base.html" %}

{% load i18n %}
{% load humanize %}
{% load static %}

{% block content %}
<div class="page-header">
  <h1>
    {% blocktrans with name=repository.name %}
    Repository {{ name }}
    {% endblocktrans %}
  </h1>
</div>
<h3>
  {% trans "How to set up your backup" %}
</h3>
<hr/>
<div id="tutorial" class="hidden">
  <div class="progress">
    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="1" aria-valuemin="1" aria-valuemax="6" style="width: 0%;">
      Step <span class="step"></span> of <span class="steps"></span>
    </div>
  </div>

  <div class="navbar">
    <div class="navbar-inner">
      <ul class="nav nav-pills" role="tablist">
        <li class="active"><a href="#step1" data-toggle="tab" role="tab" data-step="1">{% trans "Step 1: SSH Connection" %}</a></li>
        <li><a href="#step2" data-toggle="tab" role="tab" data-step="2">{% trans "Step 2: Initialization" %}</a></li>
        <li><a href="#step3" data-toggle="tab" role="tab" data-step="3">{% trans "Step 3: Backup" %}</a></li>
        <li><a href="#step4" data-toggle="tab" role="tab" data-step="4">{% trans "Step 4: Verify" %}</a></li>
        <li><a href="#step5" data-toggle="tab" role="tab" data-step="5">{% trans "Step 5: Pruning" %}</a></li>
        <li><a href="#step6" data-toggle="tab" role="tab" data-step="6">{% trans "Step 6: Automation" %}</a></li>
      </ul>
    </div>
  </div>
  <div class="tab-content">
    <div class="tab-pane fade in active" id="step1">
      <div class="well">
        {% blocktrans %}
        You need to configure your local SSH client to use public key authentication against the borg backup server. Add the following
        lines to the file <code>~/.ssh/config</code> and replace <code>&lt;key&gt;</code> with the name of the private key that matches
        the keys you specified when this repository was created.
        {% endblocktrans %}
        <pre><code>Host {{ object.server.host.name }}
    IdentityFile ~/.ssh/&lt;key&gt;
    User {{ object.server.username }}
    IdentitiesOnly yes</code></pre>
      </div>
    </div>
    <div class="tab-pane fade" id="step2">
      <div class="well">
        {% blocktrans %}
        Before creating the first backup, you need to initialize the borg repository with your own secret crendentials. This is necessary
        to ensure the privacy of your data as the encrpytion key never reaches the borg backup server. Replace <code>&lt;passphrase&gt;</code> with your
        passphrase.
        {% endblocktrans %}
        <pre><code>export BORG_PASSPHRASE=&lt;passphrase&gt;</code></pre>
        {% blocktrans %}
        Now initialize the borg backup repository on the remote server.
        {% endblocktrans %}
        <pre><code>borg init -e repokey {{ object.server.host.name }}:{{ object.path }}</code></pre>
        {% blocktrans %}
        Please store the repository encryption key somewhere safe. Without it, recovery of your data is impossible. You should also keep a backup copy of your
        repository key alongside your passphrase. Export it to a files by replacing <code>&lt;output-file&gt;</code> in the command below and store it in safe
        location.
        {% endblocktrans %}
        <pre><code>borg key export {{ object.server.host.name }}:{{ object.path }} &lt;output-file&gt;</code></pre>
      </div>
    </div>
    <div class="tab-pane fade" id="step3">
      <div class="well">
        {% blocktrans %}
        You can now use this repository to backup your data by calling borg backup. You will need to replace <code>&lt;path&gt;</code> with
        the actual local filesystem path that you want to backup. More than one paths can be specified if necessary.
        {% endblocktrans %}
        <pre><code>export BORG_PASSPHRASE=&lt;passphrase&gt;
borg create --json --stats {{ object.server.host.name }}:{{ object.path }}::"{hostname}-{now}" &lt;path&gt; [&lt;path&gt; ...] |curl -H "Content-Type: application/json" -X POST -d @- {{ request.scheme }}://{{ request.get_host }}{% url "borg:repository-status-update" secret=object.secret %}</code></pre>
        {% blocktrans %}
        If you do not want to use the monitoring functionality of our services, simply omit the <code>curl</code>-call at the end.
        {% endblocktrans %}
      </div>
    </div>
    <div class="tab-pane fade" id="step4">
      <div class="well">
        {% blocktrans %}
        To verify that your backup works, you can list all backups in the repository.
        {% endblocktrans %}
        <pre><code>export BORG_PASSPHRASE=&lt;passphrase&gt;
borg list {{ object.server.host.name }}:{{ object.path }}</code></pre>
      </div>
    </div>
    <div class="tab-pane fade" id="step5">
      <div class="well">
        {% blocktrans %}
        It is recommended to periodically prune old backups to safe space. In order to keep a certain number of daily, weekly, monthly and even yearly backups,
        please specify a number of backups for each interval to be kept.
        {% endblocktrans %}
        <pre><code>export BORG_PASSPHRASE=&lt;passphrase&gt;
borg prune --keep-daily=7 --keep-weekly=4 --keep-monthly=12 --keep-yearly=2 --prefix="{hostname}-" {{ object.server.host.name }}:{{ object.path }}</code></pre>
      </div>
    </div>
    <div class="tab-pane fade" id="step6">
      <div class="well">
        {% blocktrans %}
        To ensure backups are taken at a regular interval you can set up
        <a href="https://www.freedesktop.org/software/systemd/man/systemd.timer.html" target="_blank">systemd timers.</a> Create a file
        <code>/etc/systemd/system/backup.timer</code> with the following content.
        {% endblocktrans %}
        <pre><code>[Unit]
Description=Run borg backup

[Timer]
OnCalendar=daily
Persistent=true

[Install]
WantedBy=timers.target</code></pre>
        {% blocktrans %}
        The timer needs an accompanying service file located at <code>/etc/systemd/system/backup.service</code> with the following content.
        {% endblocktrans %}
        <pre><code>[Unit]
Description=Run borg backup

[Service]
Type=oneshot
Environment=BORG_PASSPHRASE=&lt;passphrase&gt;
ExecStart=/usr/bin/sh -c 'borg create --json --stats {{ object.server.host.name }}:{{ object.path }}::"{hostname}-{now}" &lt;path&gt; [&lt;path&gt; ...] |curl -H "Content-Type: application/json" -X POST -d @- {{ request.scheme }}://{{ request.get_host }}{% url "borg:repository-status-update" secret=object.secret %} && borg prune --keep-daily=7 --keep-weekly=4 --keep-monthly=12 --keep-yearly=2 --prefix="{hostname}-" {{ object.server.host.name }}:{{ object.path }}'</code></pre>
        {% blocktrans %}
        Again, replace <code>&lt;path&gt;</code> with the path you want to backup and <code>&lt;passphrase&gt;</code> with your secret passphrase.
        {% endblocktrans %}
      </div>
    </div>
  </div>
</div>
<hr>
{% if object.archive_set.all %}
<table class="table table-striped">
  <thead>
    <tr>
      <th>{% trans "Name" %}</th>
      <th>{% trans "Start" %}</th>
      <th>{% trans "End" %}</th>
      <th>{% trans "Duration" %}</th>
      <th>{% trans "Files" %}</th>
      <th>{% trans "Size" %}</th>
      <th>{% trans "Compressed" %}</th>
      <th>{% trans "Deduplicated" %}</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for archive in object.archive_set.all %}
    <tr>
      <th scope="row">
        {{ archive.name }}
      </th>
      <td>{{ archive.start |date:"SHORT_DATETIME_FORMAT" }}</td>
      <td>{{ archive.end |date:"SHORT_DATETIME_FORMAT" }}</td>
      <td>{{ archive.duration }}</td>
      <td>{{ archive.files |intcomma }}</td>
      <td>{{ archive.raw |filesizeformat }}</td>
      <td>
        <div class="progress">
          <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="{{ archive.compression_ratio |floatformat:3 }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ archive.compression_ratio |floatformat:0}}%;">
            {{ archive.compression_ratio |floatformat:3 }}% ({{ archive.compressed |filesizeformat }})
          </div>
        </div>
      </td>
      <td>
        <div class="progress">
          <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{ archive.deduplication_ratio |floatformat:3 }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ archive.deduplication_ratio |floatformat:0}}%;">
            {{ archive.deduplication_ratio |floatformat:3 }}% ({{ archive.deduplicated |filesizeformat }})
          </div>
        </div>
      </td>
      <td>
        <a href="">
          <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>
        </a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<div class="alert alert-info" role="alert">
  <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
  {% blocktrans %}
  No backups have been created yet.
  {% endblocktrans %}
</div>
{% endif %}
{% endblock %}

{% block script %}
{{ block.super }}
<script src="{% static 'borg/detail.js' %}"></script>
{% endblock %}
